@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

<ul>
  @foreach(Item item in Model)
  {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li>
  }
</ul>

@* I am a link to the Create method on the ItemsController. A third argument specifies
   the controller. If the ActionLink method omits the third argument, the controller is 
   based on the folder you are in. (Currently in Items, so ItemsController.) *@

<p>@Html.ActionLink("Add new item", "Create")</p>





